body {
  background-color: #fde2e4;
}

.main-container {
  display: flex;
  align-items: baseline;
}
.container {
  margin: 10px;
  width: 350px;
}

.book-div {
  margin-bottom: 1em;
  padding: 1em 3em;
  border-radius: .5em;
  border: 1.5px solid red;
}

#top-pics {

}
