body {
  background-color: #fde2e4;
}

.main-container {
  display: flex;
  align-items: baseline;
}
.container {
  margin: 10px;
  width: 350px;
}

.book-div {
  margin-bottom: 1em;
  padding: 1em 3em;
  border-radius: .5em;
  border: 1.5px solid red;
}

#top-pics {

}

#modalDiv {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none; /* removes the modal id content
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	/* // center the box in the middle of the page */
	margin: 150px auto; /* top and bottom margins.
/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
/*This will give the box some depth.*/
}
